In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

r = requests.get("https://pythonizing.github.io/data/real-estate/rock-springs-wy/LCWYROCKSPRINGS/")
content = r.content

soup=BeautifulSoup(content,'html.parser')

all=soup.find_all("div",{'class':'propertyRow'})

for item in all:
    d={}
    d["Price"]=item.find("h4",{'class':'propPrice'}).text.replace("\n","").replace(" ","")
    d["Address"]=item.find_all("span",{'class':'propAddressCollapse'})[0].text
    d["Locality"]=item.find_all("span",{'class':'propAddressCollapse'})[1].text
    try:
        d["Beds"]=item.find("span",{'class':'infoBed'}).find("b").text
    except:
        d["Beds"]=None
    try:
        d["Area"]=item.find("span",{'class':'infoSqFt'}).find("b").text
    except:
        d["Area"]=None
    try:
        d["Full Bathrooms"]=item.find("span",{'class':'infoValueFullBath'}).find("b").text
    except:
        d["Full Bathrooms"]=None
    try:
        d["Half Bathrooms"]=item.find("span",{'class':'infoValueHalfBath'}).find("b").text
    except:
        d["Half Bathrooms"]=None
    
    for column_group in item.find_all("div",{"class":"columnGroup"}):
        for feature_group, feature_name in zip(column_group.find_all("span",{"class":"featureGroup"}),column_group.find_all("span",{"class":"featureName"})):
            if "Lot Size" in feature_group.text:
                d["Lot Size"]=feature_name.text
    print(" ")

$725,000
0 Gateway
Rock Springs, WY 82901
None
None
None
None

$452,900
1003 Winchester Blvd.
Rock Springs, WY 82901
4
None
4
None
0.21 Acres

$396,900
600 Talladega
Rock Springs, WY 82901
5
3,154
3
None

$389,900
3239 Spearhead Way
Rock Springs, WY 82901
4
3,076
3
1
Under 1/2 Acre,

$254,000
522 Emerald Street
Rock Springs, WY 82901
3
1,172
3
None
Under 1/2 Acre,

$252,900
1302 Veteran's Drive
Rock Springs, WY 82901
4
1,932
2
None
0.27 Acres

$210,000
1021 Cypress Cir
Rock Springs, WY 82901
4
1,676
3
None
Under 1/2 Acre,

$209,000
913 Madison Dr
Rock Springs, WY 82901
3
1,344
2
None
Under 1/2 Acre,

$199,900
1344 Teton Street
Rock Springs, WY 82901
3
1,920
2
None
Under 1/2 Acre,

$196,900
4 Minnies Lane
Rock Springs, WY 82901
3
1,664
2
None
2.02 Acres

In [26]:
df=pd.DataFrame()
df['price']=2323
df

Empty DataFrame
Columns: [price]
Index: []